MONGO_URL=mongodb://127.0.0.1:27017
DB_NAME=probizuae
ADMIN_KEY=probizadminsecret123
CORS_ORIGINS=*
PORT=8000

SUPABASE_URL=https://zgptqzwqfkvaikzocghq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_secret

CLOUDINARY_CLOUD_NAME=bgyof9es
CLOUDINARY_API_KEY=746884831464126
CLOUDINARY_API_SECRET=your_cloudinary_secret

# SMTP Configuration (Hostinger Email)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
NOTIFICATION_EMAIL=enquiries@probizuae.com

GOOGLE_CLIENT_ID=159210270419-0q3o6os2kq69srcb2su8naan49f0o5ip.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
